.accordc {
  margin: 20px 0px;
}
.accordion-body{
  padding-bottom: 0px;
}
.accordion{
  --bs-accordion-active-color: #ffffff;
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url("../../Assets/img/plus.svg");
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  transform: rotate(180deg);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../../Assets/img/dash.svg");
  transform: var(--bs-accordion-btn-icon-transform);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #F40552;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: none;
}
.exambtn{
  border: 1px solid green;
  background-color: #f71e62;
}
